CONFIG_PATH = "configs/"
DEFAULT_JSON = "${CONFIG_PATH}default_config.json"
SAVED_JSON = "${CONFIG_PATH}saved_config.json"
MUSIC_FILE = "music.csv"
USER_DB = "postgres"
PASSWORD_DB = "postgres"
HOST_DB = "localhost"
PORT_DB = 5432
NAME_DB = "bot-telegram"
BOT_URL = "http://e22e87b4f30b.ngrok.io/api/v4"
BOT_TEAM = "iTechArt-teams"
BOT_TOKEN = "qwesadewqe12323fdfaf32414"